alacritty/
autostart/
Code/
configstore/
certs/
iterm2/
jgit/
karabiner/
dconf/
Docker Desktop/
Slack/
VirtualBox/
dlv
evolution/
geary/
gedit/
github-copilot/
gnome-control-center/
gnome-session/
goa-1.0/
google-chrome/
gtk-3.0/
gtk-4.0/
ibus/
libreoffice/
menus/
nautilus/
neofetch/
nvim.bak/
pop-shell/
pop-system-updater/
pulse/
touchegg/
gnome-initial-setup-done
QtProject.conf
mimeapps.list
.gsd-keyboard.settings-ported
nvim/plugin/packer_compiled.lua
zsh/.oh-my-zsh
zsh/.zsh_exports_ww
zsh/.zsh_yardi_exports
zsh/.zsh_ww_exports
zsh/.zsh_ww_exports_win
zsh/.zsh_ww_scripts
.DS_Store
