alacritty/
autostart/
AWSVPNClient/
Code/
configstore/
cef_user_data/
certs/
iterm2/
jgit/
karabiner/
dconf/
Docker Desktop/
Slack/
VirtualBox/
dlv
enchant/
eog/
evince/
evolution/
font-manager/
fontconfig/
geary/
gedit/
github-copilot/
gnome-control-center/
gnome-session/
goa-1.0/
google-chrome/
gtk-3.0/
gtk-4.0/
ibus/
libreoffice/
menus/
nautilus/
neofetch/
nvim.bak/
pop-shell/
pop-system-updater/
pulse/
qalculate/
touchegg/
scripts/
gnome-initial-setup-done
QtProject.conf
mimeapps.list
.gsd-keyboard.settings-ported
nvim/plugin/packer_compiled.lua
zsh/.config/zsh/.oh-my-zsh
zsh/.config/zsh/secrets/
.DS_Store
zoom.conf
zoomus.conf
